/*
NAME: Mohmmadazhar Khalifa
DATE: 09/08/2021
DESCRIPTION: This is my css file which handles the look on my html files.
It includes information about me
*/

h1 {
  color : blue

}
h2 {
  color : red
}

h4{
  color : green
}


.background {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
